@import "vars"
@import "fonts"

html
  height: 100%

body
  height: 100%
  font-size: 1.458vh
.menu

  color: #a1a9b0
  position: absolute
  right: 0
  top: 0
  width: calc(14% + 10vh)
  height: 100%
  background-color: #fff
  font-family: "GothamRounded-Light", "Arial", sans-serif
  z-index: 1
  opacity: 0
  transition: all .5s ease-in-out .25s
  h2
    text-align: center
    padding: 4vh 0
    font-size: 4.5vh
    position: relative
    i
      position: relative
      left: -9vh
      font-size: 3.125vh
      color: #372c3c

  ul
    li
      margin: 1.458vh 0
      a
        color: #a1a9b0
        font-size: 2.5vh
        text-decoration: none
        padding: 0 5vh
        &:hover
          padding-left: 8.75vh
          color: darken( #a1a9b0, 20%)
.header
  display: block
  height: 100%
  background-image: url(../images/header-bgc.jpg)
  background-size: cover
  background-position: top center
  color: #a1a9b0
  position: relative
  z-index: 2
  h1
    margin-top: 16.35416666666667vh
    font-size: 4.5vh
    text-transform: uppercase
    letter-spacing: 1.666667vh
    font-family: "GothamRounded-Book", "Arial", sans-serif
    span
      color: #353535
  .text
    margin-top: 3.333333333333333vh
    font-size: 1.5625vh
    font-family: "GothamRounded-Book", "Arial", sans-serif
    letter-spacing: 0.3125vh
    span
      font-family: "GothamRounded-MediumItalic", "Arial", sans-serif
  .btn-head
    display: inline-block
    text-decoration: none
    background-color: $btn-bcg-color
    color: #fff
    margin: 7.1875vh
    padding: 2.08333333vh 4.5vh
    text-transform: uppercase
    font-family: "GothamRounded-Medium", "Arial", sans-serif
    border-radius: 0.4166666666666667vh
    margin-top: 7.291666666666667vh
    letter-spacing: 0.3645833333333333vh
  .humb
    text-align: right
    padding: 5.416666666666667vh
    font-size: 3.125vh
    color: #372c3c
    i
      &:hover
        cursor: pointer


.owl-theme
  .owl-controls
    margin-top: 0
.main
  .block
    padding: 10.41666666666667vh 0
    font-family: "GothamRounded-Medium"
    background: #f3f5f8
    h4
      letter-spacing: 0.3125vh
      font-size: 1.875vh
      margin-bottom: 2.5vh
      text-transform: uppercase
    p
      margin-top: 6.770833333333333vh
      font-size: 1.791666666666667vh
      color: #8c9398
      line-height: 2.5
      span
        color: #353535
    .sep
      padding: 0 3.4375vh
      position: relative
      &::before
        top: 44%
        width: 35%
        height: 0.2083333333333333vh
        left: 12%
        content: ''
        background-image: url(../images/sep.png)
        position: absolute
      &::after
        top: 44%
        width: 35%
        height: 0.2083333333333333vh
        right: 12%
        content: ''
        background-image: url(../images/sep.png)
        position: absolute
  .block-1
    background: #fff
    .sep
      margin-bottom: 8.333333333333333vh
    .items
      display: flex
      justify-content: space-between
      .item
        i
          color: #fff
          padding: 5.208333333333333vh
          background-color: $btn-bcg-color
          font-size: 6.25vh
          border-radius: 50%
          margin-bottom: 5.3125vh
        h4
          letter-spacing: 0.2083333333333333vh
        p
          margin: 0
          line-height: 1.5
          font-size: 1.666667vh
        .separ
          margin: 2.604166666666667vh auto 3.125vh
  .block-2
    background-image: url(../images/block-bgc1.jpg)
    background-size: cover
    background-position: top center
    padding: 7.291666666666667vh 0 5.416666666666667vh
    .text
      text-transform: uppercase
      font-family: "GothamRounded-Book"
      color: #fff
      letter-spacing: 1.041666666666667vh
      h3
        font-size: 4.5vh
        margin-bottom: 2.291666666666667vh
      p
        font-size: 2.604166666666667vh
        color: #fff
        margin: 0
        line-height: normal
        span
          color: #fff
          font-family: "GothamRounded-MediumItalic"

    .toggle-down
      margin-top: 4.0625vh
      a
        display: inline-block
        color: #fff
        padding: 1.041666666666667vh 1.458vh
        background-color: $btn-bcg-color
        border-radius: 50%
  .block-3
    background: #fff
    width: 100%
    position: relative
    .items
      width: 100%
      display: flex
      .item
        flex: 0 0 calc(100% / 3 - 3.125vh )
        margin-right: 3.125vh
        margin-bottom: 7.291666666666667vh
        h4
          margin-top: 4.6875vh
          margin-bottom: 1.875vh
        p
          margin: 0
          line-height: 1.5625vh
          font-size: 1.458vh
          text-align: center

        .img
          display: block
          width: 100%
          height: 100%
          position: relative
          img
            width: 100%
            height: 100%
          &-item
            opacity: 0
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 99%
            background: rgba(61,201,179,.7)
            color: #fff
            transition: all .5s .3s
            i
              padding-top: 25%
              font-size: 3.125vh
            h4
              font-family: "GothamRounded-Medium"
              margin-top: 1.041666666666667vh
              font-size: 1.5625vh
          &:hover
            .img-item

              opacity: 1
  .block-4
    background: #242830
    padding: 6.458333333333333vh 0 5.9375vh
    a
      letter-spacing: 0.4166666666666667vh
      padding: 3.125vh 3.75vh
      text-transform: uppercase
      text-decoration: none
      color: #fff
      border: 0.1041666666666667vh solid #fff
      border-radius: 0.2083333333333333vh
  .block-5
    background: #fff
    .items
      display: flex
      justify-content: space-between
      .item
        img
          padding: 5.208333333333333vh 0
        h4
          margin-bottom: 1.5625vh
        p
          margin-top: 3.125vh
          line-height: 2.1875vh
          font-size: 1.458vh
  .link
    padding: 3.645833333333333vh 0
    a
      font-size: 1.770833333333333vh
      background: #242830
      padding: 1.06vh
      border-radius: 50%
      color: #fff
      margin-right: 0.5208333333333333vh
      transition: background 0.5s .3s
      &:hover
        background: $btn-bcg-color
  .block-6
    padding: 10.20833333333333vh 0
    background-image: url(../images/block-bgc2.jpg)
    background-position: top center
    background-size: cover
    color: #fff
    i
      font-size: 2.604166666666667vh
      padding: 2.08333333vh
    .text
      font-family: "GothamRounded-Medium"
      letter-spacing: 0.2604166666666667vh
      text-transform: uppercase
      font-size: 1.5625vh
    .form
      // padding: 5vh 0
      padding: 4.0625vh 0
      width: 100%
      display: inline-block

      input
        background: transparent
        border: 0.1041666666666667vh solid #fff
        width: 25%
        height: 6.666666666666667vh
        &:focus
          border: 0.1041666666666667vh solid $btn-bcg-color
          outline: none
          color: #fff
      a
        text-decoration: none
        color: #fff
        padding: 2.291666666666667vh 2.8125vh 2.5vh
        background-color: $btn-bcg-color
        text-transform: uppercase
  .block-7
    font-size: 1.458vh
    h4
      font-size: 1.5625vh
      letter-spacing: 0.278125vh
      padding: 2.08333333vh
    .sep
      margin: 0
    .items
      display: flex
      padding: 9.479166666666667vh 0
      .item
        flex: 0 0 calc(100% / 3 - 3.125vh)
        margin-right: 3.125vh
        background-color: #fff
        padding: 3.125vh 0
        border-bottom: 0.2604166666666667vh solid #f0f2f4
        i
          font-size: 2.08333333vh
          margin-bottom: 2.1875vh
        .text
          text-transform: uppercase
          letter-spacing: 0.278125vh
          margin-bottom: 3.125vh
          color: #71d7c7
        .grey
          color: #000
        span
          color: #aeb3b6
  .block-iphone
    display: flex
    position: relative
    padding: 0
    .owl
      &-pagination
        position: absolute

        bottom: 22.5%
        right: 22.5%
        margin: 0
        padding: 0
    .img_1
      img
        padding: 0 17%
        width: 100%
    .text
      top: 0
      position: absolute
      left: 50%
      background: #fff
      height: 100%
      z-index: 1
      .wrapper
        display: inline-block
        padding: 10.41666666666667vh
        h4
          padding: 3.541666666666667vh 0
          margin: 0
        p
          padding: 4.6875vh 0
          margin: 0
          font-size: 1.666667vh
          line-height: normal
          text-align: justify
          letter-spacing: 0.0677083333333333vh
          word-spacing: 0.7291666666666667vh




  .owl-theme .owl-controls .owl-page span
    opacity: 1
    border-radius: 50%
    background: #fff
    border: 0.1041666666666667vh solid #e8e8e8
    zoom: 1.1
  .owl-theme .owl-controls
    &.clickable .owl-page:hover span, .owl-page.active span
      opacity: 1
      background: #000
      zoom: 1
  .separ
    margin: 0 auto
    width: 15%
    height: 0.5208333333333333vh
    margin-bottom: 3.854166666666667vh
    background-color: $btn-bcg-color
.footer
  padding: 5.625vh 0
  background-color: #242830
  font-family: "GothamRounded-Book"
  border-bottom: 0.0520833333333333vh solid #33363e
  .text
    display: flex
    justify-content: space-between
    align-items: center
    color: #a1a9b0
    font-size: 1.458vh
    .left
      span
        color: #d2d3d4
    .right
      .color
        color: #fff
      .fonts
        font-family: "GothamRounded-BookItalic"






.wrapper
  width: 100%
  margin: 0 auto
  text-align: center
  padding: 0 14%
  position: relative
  z-index: 0
